@charset "utf-8";

/* farmer */
html {
  font-size: 100%;
}

.farmer_body {
  color: #633B3B;
  background-color: #E8D98A;
}

.farmer_ul a {
  text-decoration: none;
} 

.farmer_conteiner {
  font-size:1.4rem;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 3%;
}

.farmer_h1 {
  font-size: 406.28%;
}

.farmer_h3 {
  font-size: 134%;
}

.farmer_item { 
  text-align: center;
  padding-bottom: 3%;
}

.farmer_coment {
  display: flex;
  justify-content: center;
  align-items: center;
}

.farmer_coment img {
  width: 15%;
  height: 15%;
}

/*ballon*/
 .farmer_balloon {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  /* background: #FFF; */
  background-color: #F5E2C9;
  border: solid 3px /*#555*/#633B3B;
  box-sizing: border-box;
  border-radius: 15px;
}

.farmer_balloon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #F5E2C9;
  z-index: 2;
}

.farmer_balloon:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid /*#555*/#633B3B;
  z-index: 1;
}

.farmer_balloon p {
  margin: 0;
  padding: 0;
}
/*-------------*/

.farmer_p {
  text-align: left;
  padding-left: 6.1%; /*165*/
  padding-right: 6.1%;
}

/*アニメーション*/
/* アニメーション前のスタイル */
.farmer_js_marker {
  display: inline;
  position: relative;
  background-image: linear-gradient(90deg, #ffff66, #ffff66); /* 単色なら同じ色 */
  background-repeat: no-repeat;
  background-position: 0 30%; /* ％マーカーの太さ */
  transition: all 1s ease-in-out; /* 速度 */
  /* font-weight: bold; 太字 */
}

.farmer_js_marker.inview {
  background-size: 100%;
}

@media(max-width: 600px) {
/* index */
.top_recipe h1 {
  font-size: 95%;
}

.top_recipe p{
  font-size: 73%;
}

.top_recipe_item h4 {
  font-size: 65%;
}

.top_button {
  font-size     : 80%; 
}

/*farmer*/
  .farmer_balloon,
  .farmer_balloon:before,
  .farmer_balloon:after,
  .farmer_balloon,
  .farmer_coment img{
    display: none;
  }

  .farmer_conteiner {
    margin-left: 3%;
    margin-right: 4%;
    padding-bottom: 3%;
  }
  
  .farmer_h1 {
    font-size: 150%;
    width: 100%;
  }

  .farmer_h3 {
    font-size: 100%;
  }

  .farmer_img {
    width: 100%;
  }

  .farmer_p {
    text-align: left;
    padding-left: 6.1%;
    padding-right: 6.1%;
  }

  .farmer_footer {
    background-color: #F2D6B3;
    /* padding-top: 2.5%;
    padding-left: 5.15%; */
    text-align: center;
  }

  .farmer_footer h1 {
    font-size: 200%;
  }

  /*hukidasi*/
  .farmer_coment {
    justify-content: center;
    align-items: center;
  }
  /*ballon*/
  .farmer_balloon {
    position: relative;
    display: inline-block;
    margin: 1.5em 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #633B3B;
    font-size: 16px;
    background: #F5E2C9;
    border: solid 3px #633B3B;
    box-sizing: border-box;
  }
  
  .farmer_balloon:before {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 50%;
    margin-left: -15px;
    border: 12px solid transparent;
    border-top: 12px solid #FFF;
    z-index: 2;
  }
  
  .farmer_balloon:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -17px;
    border: 14px solid transparent;
    border-top: 14px solid #555;
    z-index: 1;
  }
  
  .farmer_balloon p {
    margin: 0;
    padding: 0;
  }
/*-------------*/
}