@charset "utf-8";

 #header{
  z-index: 999;
  top: 0;
  font-size: 62.5%;
  margin:0;
}
#header .nav_header_wrapper .nav_rogo{
  width: 120px;
  height: 120px;
}

 #header li {
  list-style: none;
  margin-right: 0.5rem;
 }

 /* #header li  .header_a { */
 #header .nav_header_wrapper .nav_end .nav ul li .header_a{

  color:  #624222;
  text-decoration: none;
  padding: 0;
  padding: 10px;
 }

 #header .header_a svg {
  width: "24px";
  height: "24px";
 }

 #header .nav_header_wrapper .nav_end .nav ul li .header_a:hover{
  text-decoration: underline;
  }
  
 #header span {
  color:  #624222;
  font-size: 10px;
 }

 #header h1 {
  font-family: 'Josefin Sans', 'Noto Sans JP',serif;
  line-height: 160%;
  font-size: 45px;
  color: #624222;
  font-weight: 1300;
  text-align: center;
 }





a:active, a:focus,input:active, input:focus{outline:0;}
  
.site-header {
	position: sticky;
	background-color: #f5e2c9;
    width: 100%;
    height:160px;
}
.nav_header_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2% 0;
}
  .nav_start {
	display: flex;
	/* align-items: center;  */
}
  
  .nav_end {
	display: flex;
	/* align-items: center; */
 }
  

	@media (min-width: 800px) {
	  .site-header_wrapper {
		padding-top: 0;
		padding-bottom: 0; } }
  @media (min-width: 800px) {
	.nav_wrapper {
	  display: flex; } }
  
  @media (max-width: 799px) {
	.nav_wrapper {
	  position: fixed;
	  top: calc(100% + 35px);
	  right: 0;
	  left: 0;
	  z-index: -1;
	  background-color: #f2d6b3;
	  visibility: hidden;
	  opacity: 0;
	  transform: translateY(-100%);
	  transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
	  .nav_wrapper.active {
		visibility: visible;
		opacity: 1;
		transform: translateY(0); } }
  
  .nav_item:not(:last-child) {
	margin-right: 0.5rem; }
  
  .nav_item a {
	display: block;
	padding: 1rem;
	border-left: 4px solid transparent; }
	@media (min-width: 800px) {
	  .nav_item a {
		text-align: center;
		border-left: 0;
		/* border-bottom: 4px solid transparent;  */
  } }
  .nav_item svg {
	display: inline-block;
	vertical-align: middle;
	width: 28px;
	height: 28px;
	margin-right: 1rem; 
}
	@media (min-width: 800px) {
	  .nav_item svg {
		display: block;
		/* margin: 0 auto 0.5rem;  */
		margin: 0 auto 0.5%; 
  } }
  .nav_item.active a {
	border-left-color: #222; }
	@media (min-width: 800px) {
	  .nav_item.active a {
		border-bottom-color: #222; } }
  .nav_toggle {
	display: none; }
	@media (max-width: 799px) {
	  .nav_toggle {
		display: block;
		position: absolute;
		right: 1rem;
		top: 1rem; } }
  .inactive-item {
	opacity: 0; }
  

/* footer */
footer {
    background-color: #F2D6B3;
    text-align: center;
    height: 670px;
    padding-top: 101px;
    padding-left: 81px;
  }
  
  .footer_link {
    text-align: left;
    padding-bottom: 94px;
  }
  
  .footer_ul {
    padding-top: 34px;
  }
  
  .footer li {
    list-style: none;
    padding-bottom: 34px;
  }
  
  .footer_headline {
    text-decoration: none;
    color: #633B3B;
    font-size: 141.5%;
  }
  
  .footer_title {
    text-decoration: none;
    color: #633B3B;
    font-size: 62px;
  }
  
  footer small {
    font-size: 180%;
    text-align: center;
  } 
  
  /*----------------*/

@media(max-width: 600px) {
    /* footer */
    footer {
        height: 50%;
        padding-top: 10%;
        padding-left: 5%;
    }
    
    .footer_link {
        text-align: left;
        padding-bottom: 5%;
    }
    
    .footer_ul {
        padding-top: 3%;
    }
    
    .footer li {
        padding-bottom: 3%;
    }
    
    .footer_headline {
        font-size: 80%;
    }
    
    .footer_title {
        font-size: 150%;
    }
    
    footer small {
        font-size: 100%;
        text-align: center;
    } 
}