@charset "utf-8";


/* footer */
footer {
    background-color: #F2D6B3;
    text-align: center;
    height: 670px;
    padding-top: 101px;
    padding-left: 81px;
  }
  
  .footer_link {
    text-align: left;
    padding-bottom: 94px;
  }
  
  .footer_ul {
    padding-top: 34px;
  }
  
  .footer li {
    list-style: none;
    padding-bottom: 34px;
  }
  
  .footer_headline {
    text-decoration: none;
    color: #633B3B;
    font-size: 141.5%;
  }
  
  .footer_title {
    text-decoration: none;
    color: #633B3B;
    font-size: 62px;
  }
  
  footer small {
    font-size: 180%;
    text-align: center;
  } 
  
  /*----------------*/

@media(max-width: 600px) {
    /* footer */
    footer {
        height: 50%;
        padding-top: 10%;
        padding-left: 5%;
    }
    
    .footer_link {
        text-align: left;
        padding-bottom: 5%;
    }
    
    .footer_ul {
        padding-top: 3%;
    }
    
    .footer li {
        padding-bottom: 3%;
    }
    
    .footer_headline {
        font-size: 80%;
    }
    
    .footer_title {
        font-size: 150%;
    }
    
    footer small {
        font-size: 100%;
        text-align: center;
    } 
}